%form{ method: 'post',  action: @path, :'accept-charset' => 'UTF-8' }
  Интервал времени &nbsp;
  %input{ type: 'text', name: 'start_time', value: params[:start_time] }
  &nbsp-&nbsp
  %input{ type: 'text', name: 'end_time', value: params[:end_time] }
  %input{ type: 'submit', value: 'Найти' }
= will_paginate @logins, params: ({ start_time: params[:start_time], end_time: params[:end_time] } if params[:start_time].present?)
%br
%table
  %tr
    %th Имя пользователя
    %th{ width: 130 } IP
    %th{ width: 170 } Время
    %th{ width: 150 } Сервер
  - @logins.each do |f_login|
    %tr
      %td= f_login.user_name
      %td= f_login.ip
      %td= f_login.time_moment.strftime('%Y-%m-%d %H:%M:%S')
      %td= f_login.server_name
